$main-font: 'Roboto', sans-serif;
$secondary-font: 'Rufina', serif;
$logo-font: 'Playfair Display', serif;
$accent-color: #ff817e;
$text-color: #555555;
$title-color: #263a41;
$item-color: #888888;
$black:  #1e2528;